[access "refs/*"]
	owner = group user/Igorshp (Igorshp)
[access "refs/for/refs/*"]
	read = group user/Igorshp (Igorshp)
	push = group user/Igorshp (Igorshp)
	label-Code-Review = -2..+2 group user/Igorshp (Igorshp)
	label-Verified = -1..+1 group user/Igorshp (Igorshp)
	rebase = group user/Igorshp (Igorshp)
	removeReviewer = group user/Igorshp (Igorshp)
	submit = group user/Igorshp (Igorshp)
[access "refs/heads/*"]
	read = group user/Igorshp (Igorshp)
	create = group user/Igorshp (Igorshp)
	push = +force group user/Igorshp (Igorshp)
	pushMerge = group user/Igorshp (Igorshp)
[access "refs/tags/*"]
	push = +force group user/Igorshp (Igorshp)
	pushTag = group user/Igorshp (Igorshp)
	pushSignedTag = group user/Igorshp (Igorshp)
